/* 화면 크기 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    overflow: visible;
    padding: 20px 0;
}

/* 로고 */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color : red;
    font-weight: 700;

}
.logo .logo-text {
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/* input size */
.input-size-large {
    height : 40px;
    width: 350px;
}

.input-form-label {
    font-weight: 700;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-vertical-center {
    width: 350px;
    display: flex;
}

.input-div-margin {
    margin-top: 10px;
}

.font-small-red {
    font-size: 12px;
    color : red;
}

.font-small-blue {
    font-size: 12px;
    color : dodgerblue;
}

.font-small {
    font-size: 12px;
}


.btn-xxlage-red {
    height : 40px;
    width: 350px;
    background-color: red;
    color : white;
    font-weight: 700;
}
.btn-xxlage-red:hover {
    height : 40px;
    width: 350px;
    background-color: #FFE2E0;
    border-color: red;
    color : red;
    font-weight: 700;
}
.btn-large-red {
    height : 40px;
    width: 170px;
    background-color: red;
    color : white;
    font-weight: 700;
}
.btn-large-red:hover {
    height : 40px;
    width:170px;
    background-color: #FFE2E0;
    border-color: red;
    color : red;
    font-weight: 700;
}

.btn-large-white {
    height : 40px;
    width: 170px;
    background-color: white;
    color : red;
    font-weight: 700;
    border-color: red;
}
.btn-large-white:hover {
    height : 40px;
    width: 170px;
    background-color: #FFE2E0;
    color : red;
    font-weight: 700;
    border-color: red;
}

.btn-xxlage-red:disabled {
    height : 40px;
    background-color: darkgray;
    color: white;
    cursor: not-allowed;   /* 커서 바꾸기 */
}
.btn-xxlage-red:disabled:hover {
    height : 40px;
    background-color: darkgray;
    color: white;
    cursor: not-allowed;   /* 커서 바꾸기 */
    border-color: darkgray;
}

.btn-medium {
    height : 40px;
    width: 100px;
    background-color: red;
    color : white;
    font-weight: 700;
}
.text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.text-div a:hover {
    font-weight: 700;
}

.text-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.from-div {
    width: 100%;
    max-width: 350px;
}

/*lookup*/
.lookup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 13px;
    gap : 5px;
}

.lookup-div .lookup-id-div {
    width: 350px;
    height: 50px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}