/* 화면 크기 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    box-sizing: border-box;
    gap: 20px;
    overflow: hidden;
}

/* 로고 */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color : red;
    font-weight: 700;

}
.logo .logo-text {
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
/* input size */
.input-size-large {
    width: 350px;
}

.input-form-label {
    font-weight: 700;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.font-small-red {
    font-size: 12px;
    color : red;
}

.btn-xxlage-red {
    width: 350px;
    height: 40px;
    background-color: red;
    color : white;
    font-weight: 700;
}
.btn-xxlage-red:hover {
    width: 350px;
    height: 40px;
    background-color: #FFE2E0;
    border-color: red;
    color : red;
    font-weight: 700;
}

.text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.text-div a:hover {
    font-weight: 700;
}

